<div class="bg-img">
    <div class="container">
        <h3 class="text-center" style="padding-top: 3%;">Sign Up</h3>
        <form>
            <div class="form-group">
                <label for="first"><b></b></label>
                <input type="text" class="form-control"  id="user_name" #user_name placeholder="Username">
            </div>
            <div class="form-group">
                <label for="email"><b></b></label>
                <input type="text" class="form-control" id="email" #email placeholder="email">
            </div>
            <div class="form-group">
                <label for="password"></label>
                <input type="password" class="form-control" id="password" #password placeholder="password">
            </div>
            <div class="form-group">
                <label for="password"></label>
                <input type="password" class="form-control" id="password" #confirm_password placeholder="confirm password">
            </div>
            <button style="width: 100%; margin-top: 5%; margin-bottom: 5%;"
            type="button"
            (click)="signup(user_name.value,email.value,password.value,confirm_password.value)"
            class="btn btn-primary"><a href="/neighbourhood"></a>
            Signup
          </button>
            <p class="text-center" > Have an account? <a href="/login" style="color:#e92012;">Sign in here</a></p> 
    
        </form>
    </div>
    

    