<div class="bg-img">
    <div class="container">
        <h3 class="text-center" style="padding-top: 3%;">Sign Up</h3>
        <form>
            <div class="form-group">
                <label for="first"><b>User Name</b></label>
                <input type="text" class="form-control"  id="user_name" #user_name>
            </div>
            <div class="form-group">
                <label for="Last"><b>email</b></label>
                <input type="text" class="form-control" id="last_name" #last_name>
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" class="form-control" id="password" #password2>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" #password>
            </div>
            <button style="width: 100%; margin-top: 5%; margin-bottom: 5%;"
            type="button"
            (click)="signup(user_name.value,last_name.value,password.value)"
            class="btn btn-primary"><a href="/neighbourhood"></a>
            Signup
          </button>
            <p class="text-center" > Have an account? <a href="/login" style="color:#e92012;">Sign in here</a></p> 
    
        </form>
    </div>
    
    